'.platform-darwin .atom-text-editor':
  'cmd-u': 'text-pastry:undo-last-selection'
'.platform-linux .atom-text-editor':
  'ctrl-u': 'text-pastry:undo-last-selection'
'.platform-win32 .atom-text-editor':
   'ctrl-u': 'text-pastry:undo-last-selection'
